.dao_shou{color:#f0f0f0;font-size:18px;}

.body{width:1000px;margin:30px auto 60px;}
.body h3{text-align:center;margin:5px auto;}
.body a{text-decoration:none;color:#f0f0f0;margin:30px auto;}
.body a:hover{color:#ffa500;}
.body_a{width:184px;float:left;margin:10px 10px 10px 0px;}
.body_b{width:184px;float:left;margin:10px;}
.body_c{width:184px;float:left;margin:10px 0px 10px 10px;}